<table id="tabla" class="table table-sm" style="width:100%">
    <thead>
        <tr class="text-center fw-bold text-primary">
            <th scope="col">Razón Social</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        {{#each clientes}}
        <tr class="text-center fw-bold">
            <td>{{razon_social}}</td>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{telefono}}</td>
            <td>
                <div class="btn-toolbar d-flex justify-content-center" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <form action="/presupuesto/create/{{id}}" method="POST">
                            <button type="submit" class="btn"><i class="bi bi-plus-circle"></i></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>