<table id="tabla" class="table" style="width:100%">
  <thead>
    <tr class="text-center fw-bold text-primary">
      <th scope="col">Categoria</th>
      <th scope="col">Nombre</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Precio</th>
      <th scope="col">Ampliar</th>
    </tr>
  </thead>
  <tbody>
    {{#each allProducts}}
    <tr class="text-center fw-bold">
      <td>{{categoria}}</td>
      <td>{{nombre}}</td>
      <td>{{proveedor}}</td>
      <td>{{precio}}</td>
      <td>
        <div class="btn-toolbar d-fle justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
            <form action="producto/single/{{id}}" method="get">
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#editarProducto">Ampliar</button>
            </form>
          </div>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>