<script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
<script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-center">
        <h3 class="mt-2">Descargar Presupuesto PDF </h3>
        <button type="submit" class="btn" form="boton__pdf"><i
                class="bi bi-file-earmark-pdf-fill icono__pdf"></i></button>
    </div>
    <form action='/presupuesto/descargar/{{id}}' method="post" id="boton__pdf">
        <div class="d-flex justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tax" id="inlineRadio1" value="21">
                <label class="form-check-label" for="inlineRadio1">21 %</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tax" id="inlineRadio2" value="10.5">
                <label class="form-check-label" for="inlineRadio2">10,5 %</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tax" id="flexRadioDefault3" value="0" checked>
                <label class="form-check-label" for="flexRadioDefault3">0 %</label>
            </div>
        </div>
    </form>

    <div id="pdf">
        <h2 class="titulo">Cliente</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientePDF}}
                <tr>
                    <td>{{razon_social}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{telefono}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <h2 class="titulo">Pedido</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {{#each pedidoPDF}}
                <tr id="tr-html">
                    <td>{{cantidad}}</td>
                    <td>{{producto}}</td>
                    <td>{{precio}}</td>
                    <td>{{subtotal}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>